.text-stroke {
  -webkit-text-stroke: 2px var(--accentColor);
  -webkit-text-fill-color: transparent;
}
.split_type {
  font-kerning: none;
}
.text-stroke {
  -webkit-text-stroke: 2px var(--accentColor);
  -webkit-text-fill-color: transparent;
}
.line {
  will-change: transform;
  hyphens: auto;
}
