@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --mainColor: #1e1e1e;
  --accentColor: #00da0f;
  --goldColor: #dfbe6a;
  // --grayColor: #1e1e1e;
  --secondAccent: #093321;
  --secondColor: #ffff;
  --index: 1vh + 1vw;
  --cubic-bezier: cubic-bezier(1, 0.76, 0.95, 1.05);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // scrollbar-width: thin;
  // scrollbar-color: var(--accentColor) transparent;
}
/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: var(--secondAccent);
}

*::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: var(--accentColor);
  border-radius: 10px;
}

::selection {
  background: none;
  color: var(--secondAccent);
}

::-moz-selection {
  background: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html {
  scrollbar-gutter: stable;
}
body {
  scroll-behavior: smooth;
  font-size: calc(var(--index) * 0.5);
}

a {
  color: inherit;
  text-decoration: none;
}
input,
textarea {
  background-color: transparent;
  outline: none;
}
// .circle {
//   background: linear-gradient(180deg, #1e3d2e 0%, #0a1d14 100%);
// }
button:hover > .copy path {
  stroke: var(--goldColor);
  transition: all 0.3s ease-out;
}
a:hover > .mail path {
  fill: var(--goldColor);
  transition: all 0.3s ease-out;
}
.footer_link:hover > svg path {
  fill: var(--accentColor);
  transition: all 0.3s ease-out;
}

.card_shadow {
  box-shadow: 0 10px 27px 0 rgba(223, 190, 106, 0.5);
}
.gradient {
  background: linear-gradient(180deg, #1e3d2e 0%, #0a1d14 100%);
}

// BURGER
.burger {
  transition: 0.25s ease-in-out;

  & span {
    display: block;
    background: var(--secondColor);

    border-radius: 2px;
    transition: 0.25s ease-in-out;
  }
}
#hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  height: 100%;
  width: 100%;

  & span {
    width: 40%;
    height: 3px;

    &:nth-child(1) {
      transition-delay: 0.5s;
    }
    &:nth-child(2) {
      transition-delay: 0.625s;
    }
    &:nth-child(3) {
      transition-delay: 0.725s;
    }
  }
}
#cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  & span {
    background: #fff;
    &:nth-child(1) {
      width: 4px;
      height: 0%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition-delay: 0s;
    }
    &:nth-child(2) {
      width: 0%;
      height: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition-delay: 0.15s;
    }
    &:nth-child(3) {
      width: 4px;
      height: 0%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition-delay: 0.25s;
    }
  }
}

.active_burger {
  transition: 0.25s ease-in-out;

  #hamburger {
    span {
      width: 0%;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.125s;
      }
      &:nth-child(3) {
        transition-delay: 0.25s;
      }
    }
  }
  #cross {
    span {
      &:nth-child(1) {
        height: 3vh;
        transition-delay: 0.625s;
      }
    }
    span {
      &:nth-child(2) {
        width: 3vh;
        transition-delay: 0.375s;
      }
    }
  }
}

.text_slide {
  // display: inline-block;
  animation: 25s slide infinite linear;
}
.text_slide-reverse {
  animation: 25s slide-reverse infinite linear;
}
@keyframes slide {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(-20%);
  }
}
@keyframes slide-reverse {
  from {
    transform: translateX(-30%);
  }
  to {
    transform: translateX(0%);
  }
}

.split_type {
  font-kerning: none;
}
.text-stroke {
  -webkit-text-stroke: 2px var(--accentColor);
  -webkit-text-fill-color: transparent;
}
.line {
  will-change: transform;
  hyphens: auto;
}

.cursor {
  mix-blend-mode: difference;
  transition: width 0.25s var(--cubic-bezier),
    background-color 0.25s var(--cubic-bezier);
}
.cursor.active {
  width: 4vw;
}

.project__link:hover .arrow-1 {
  top: -15%;
  left: 150%;
  transform: translate(-150%, 15%) rotate(315deg);
}
.project__link:hover .arrow-2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(315deg);
}

@media (hover: none) {
  .cursor {
    display: none;
  }
}
// Form
.form_label {
  font-size: calc(var(--index) * 1);
  color: var(--secondColor);
  opacity: 80;
  font-weight: 500;
}
textarea::placeholder,
input::placeholder {
  font-size: calc(var(--index) * 0.5);
}

@media (max-width: 1600px) {
  .form_label {
    font-size: 20px;
  }
  textarea::placeholder,
  input::placeholder {
    font-size: 16px;
  }
}
@media (max-width: 1280px) {
}
@media (max-width: 768px) {
  #hamburger {
    gap: 3px;
  }
}
@media (max-width: 640px) {
  textarea::placeholder,
  input::placeholder {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .form_label {
    font-size: 20px;
  }
}
