@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --mainColor: #1e1e1e;
  --accentColor: #00da0f;
  --goldColor: #dfbe6a;
  // --grayColor: #1e1e1e;
  --secondAccent: #093321;
  --secondColor: #ffff;
  --index: 1vh + 1vw;
  --cubic-bezier: cubic-bezier(1, 0.76, 0.95, 1.05);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // scrollbar-width: thin;
  // scrollbar-color: var(--accentColor) transparent;
}
/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: var(--secondAccent);
}

*::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: var(--accentColor);
  border-radius: 10px;
}

::selection {
  background: none;
  color: var(--secondAccent);
}

::-moz-selection {
  background: none;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

html {
  scrollbar-gutter: stable;
}
body {
  scroll-behavior: smooth;
  font-size: calc(var(--index) * 0.5);
}

a {
  color: inherit;
  text-decoration: none;
}
input,
textarea {
  background-color: transparent;
  outline: none;
}

button:hover > .copy path {
  stroke: var(--goldColor);
  transition: all 0.3s ease-out;
}
a:hover > .mail path {
  fill: var(--goldColor);
  transition: all 0.3s ease-out;
}
.footer_link:hover > svg path {
  fill: var(--accentColor);
  transition: all 0.3s ease-out;
}
